<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow" />
    <title>UserKit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="loader" style="display: block; position: fixed; left: 0; right: 0; bottom: 50px; text-align: center;">
    <h1 style="color: #666; font-size: 16px; font-family: sans-serif; font-weight: lighter;">Hang on, loading UserKit now...</h1>
</div>

<div id="main" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="branding">
                    <span>UserKit</span>
                </div>
                <nav class="side-nav">
                    <h3>Analytics</h3>
                    <ul class="nav flex-column nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Realtime</a>
                        </li>
                    </ul>
                </nav>
                <hr />
            </div>
            <div class="col-md-9">
                <header class="context-header">
                    <h3>Analytics</h3>
                    <h1>Overview</h1>
                </header>

                <hr />

                <canvas id="myChart" width="400" height="100"></canvas>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>

<script>
var UserKitLoader = {
    pendingReqs: 0,
    allReadyCallbacks: [],

    getBaseUrl: function () {
        return document.location.href;
    },

    allReady: function (callback) {
        if (callback) {
            UserKitLoader.allReadyCallbacks.push(callback);

            if (this.pendingReqs == 0) {
                this.allReady();
            }
        } else {
            if (this.pendingReqs == 0) {
                for (var i = 0; i < this.allReadyCallbacks.length; i++) {
                    this.allReadyCallbacks[i]();
                }
            }
        }
    },

    loadAsset: function (path, dataHandler, callback) {
        var payload = {
            type: 'asset.fetch',
            target: path
        };

        if (!callback) {
            callback = function () { };
        }

        this.pendingReqs++;

        $.post(UserKitLoader.getBaseUrl(), JSON.stringify(payload)).done(function (data) {
            dataHandler(data);
            callback();

            UserKitLoader.pendingReqs--;
            UserKitLoader.allReady();
        });
    },

    loadJs: function (path, callback) {
        this.loadAsset(path, function (data) {
            $('<script />').html(data).appendTo($('body'));
        }, callback);
    },

    loadCss: function (path, callback) {
        this.loadAsset(path, function (data) {
            $('<style />').html(data).appendTo($('body'));
        }, callback);
    }
};
</script>

<script>
$(document).ready(function () {
    UserKitLoader.loadJs('scripts/app.js');
});
</script>

</body>
</html>