<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow" />
    <title>UserKit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="loader" style="padding: 20em; font-family: sans-serif; text-align: center;">
    <h1 style="font-size: 32px; font-weight: lighter;">Loading UserKit...</h1>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
var UserKitLoader = {
    pendingReqs: 0,
    allReadyCallbacks: [],

    getBaseUrl: function () {
        return document.location.href;
    },

    allReady: function (callback) {
        if (callback) {
            UserKitLoader.allReadyCallbacks.push(callback);

            if (this.pendingReqs == 0) {
                this.allReady();
            }
        } else {
            if (this.pendingReqs == 0) {
                for (var i = 0; i < this.allReadyCallbacks.length; i++) {
                    this.allReadyCallbacks[i]();
                }
            }
        }
    },

    loadAsset: function (path, dataHandler, callback) {
        var payload = {
            type: 'asset.fetch',
            target: path
        };

        if (!callback) {
            callback = function () { };
        }

        this.pendingReqs++;

        $.post(UserKitLoader.getBaseUrl(), JSON.stringify(payload)).done(function (data) {
            dataHandler(data);
            callback();

            UserKitLoader.pendingReqs--;
            UserKitLoader.allReady();
        });
    },

    loadJs: function (path, callback) {
        this.loadAsset(path, function (data) {
            $('<script />').html(data).appendTo($('body'));
        }, callback);
    },

    loadCss: function (path, callback) {
        this.loadAsset(path, function (data) {
            $('<style />').html(data).appendTo($('body'));
        }, callback);
    }
};
</script>

<script>
$(document).ready(function () {
    UserKitLoader.loadJs('scripts/app.js');
});
</script>

</body>
</html>