<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow" />
    <title>UserKit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="loader" style="padding: 20em; font-family: sans-serif; text-align: center;">
    <h1 style="font-size: 32px; font-weight: lighter;">Loading UserKit...</h1>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
var UserKitLoader = {
    getUrl: function () {
        return document.location.href;
    },

    loadAsset: function (path) {
        var payload = {
            type: 'fetch_resource',
            target: path
        };

        $.post(UserKitLoader.getUrl(), payload).done(function () {
            alert('hi');
        });
    }
};
</script>
<script>
$(document).ready(function () {
    UserKitLoader.loadAsset('scripts/app.js');
});
</script>

</body>
</html>
